## D. Kinney DSC 550 Week 1: Exercise 1.2

### 2D arrays

1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

3. Determine the minimum; maximum; average; and standard deviation of all entries.

4. Sort the DataFrame: by rows, by columns, on row 2, on column 2.

*Note – you should first write your program with a smaller array (perhaps [3,2] to make sure you get it running correctly. Then modify your program to meet the size requirements [10,50].*

In [2]:
import numpy as df_random_random
import pandas as pd

In [4]:
# Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive)
# Load it to a DataFrame
df_random_random = pd.DataFrame(df_random_random.random.randint(low=1, high=500, size=(10, 50)))
df_random_random

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,234,244,56,476,437,7,389,469,493,58,...,137,143,495,481,313,126,404,333,403,241
1,136,489,257,107,148,460,289,11,172,233,...,45,285,165,195,278,324,415,327,457,176
2,55,443,135,327,328,74,363,128,136,18,...,264,475,125,272,245,360,223,108,40,282
3,467,380,221,60,94,449,19,286,181,153,...,393,470,1,260,190,23,228,308,254,420
4,53,96,290,75,116,434,445,89,278,61,...,2,164,290,89,166,332,478,295,225,408
5,326,162,171,248,297,322,184,383,392,66,...,478,411,451,259,391,466,488,310,70,391
6,258,102,40,161,116,191,426,50,21,136,...,276,374,168,241,12,338,348,125,140,454
7,163,342,307,377,474,235,308,168,417,73,...,433,233,252,111,62,157,296,456,132,409
8,411,232,185,102,477,293,88,23,72,195,...,315,319,169,219,123,22,295,308,55,175
9,474,144,48,187,58,14,19,194,229,79,...,421,389,246,41,144,413,471,211,104,119

In [8]:
# Calculate the sum of each row; the sum of each column; and the sum of all entries.
print("Sum of each row:")
print(df_random_random.sum(axis=0))
print("\n")
print("Sum of each column:")
print(df_random_random.sum(axis=1))
print("\n")
print("Sum for the array:")
print(df_random_random.sum().sum())

Sum of each row:
0     2577
1     2634
2     1710
3     2120
4     2545
5     2479
6     2530
7     1801
8     2391
9     1072
10    3210
11    2361
12    2513
13    1973
14    2939
15    1852
16    2099
17    2922
18    2859
19    2543
20    1900
21    2287
22    2523
23    2144
24    3309
25    2216
26    3157
27    3092
28    2849
29    2209
30    2187
31    2509
32    2256
33    2616
34    2331
35    2610
36    2159
37    1973
38    2912
39    2674
40    2764
41    3263
42    2362
43    2168
44    1924
45    2561
46    3646
47    2781
48    1880
49    3075
dtype: int64


Sum of each column:
0    13945
1    12099
2    11908
3    11413
4    12212
5    14158
6    11120
7    13715
8    11228
9    11669
dtype: int64


Sum for the array:
123467

In [10]:
# Determine the minimum; maximum; average; and standard deviation of all entries.
print("Minimum, Maximum and Standard Deviation by row\n")
print(df_random_random.min(axis=0))
print(df_random_random.max(axis=0))
print(df_random_random.std(axis=0))
print("\n")
print("Minimum, Maximum and Standard Deviation by column\n")
print(df_random_random.min(axis=1))
print(df_random_random.max(axis=1))
print(df_random_random.std(axis=1))
print("\n")
print("Minimum, Maximum and Standard Deviation for the array\n")
print(df_random_random.min().min())
print(df_random_random.max().max())
print(df_random_random.std().std())

Minimum, Maximum and Standard Deviation by row

0      53
1      96
2      40
3      60
4      58
5       7
6      19
7      11
8      21
9      18
10      5
11     13
12     50
13     56
14     64
15     10
16     76
17     92
18    113
19     63
20      9
21     17
22      1
23     14
24    124
25     12
26     75
27     38
28      8
29     14
30     50
31     29
32     26
33      4
34     52
35     25
36     15
37      8
38     51
39     52
40      2
41    143
42      1
43     41
44     12
45     22
46    223
47    108
48     40
49    119
dtype: int32
0     474
1     489
2     307
3     476
4     477
5     460
6     445
7     469
8     493
9     233
10    496
11    467
12    491
13    488
14    424
15    370
16    391
17    410
18    496
19    478
20    449
21    408
22    499
23    429
24    495
25    466
26    477
27    482
28    450
29    494
30    385
31    396
32    496
33    453
34    463
35    447
36    396
37    408
38    459
39    466
40    478
41    475
42    495
43    481
44    391
45    466
46    488
47    456
48    457
49    454
dtype: int32
0     158.495741
1     142.555408
2      99.755256
3     141.290088
4     167.425108
5     174.474736
6     164.387077
7     155.420898
8     154.598009
9      68.827966
10    161.583140
11    167.290466
12    187.725006
13    158.727614
14    108.547429
15     90.050356
16     95.282562
17    133.274820
18    125.815959
19    140.241102
20    155.529204
21    137.367350
22    193.481581
23    153.715610
24    118.311688
25    170.036075
26    149.881472
27    155.092660
28    146.984844
29    179.625196
30    123.261285
31    126.446695
32    172.312507
33    150.206672
34    154.006097
35    139.103479
36    145.414694
37    149.914828
38    129.841613
39    162.635380
40    166.529410
41    118.577729
42    148.427910
43    122.924367
44    116.184910
45    160.705009
46    101.125005
47    103.827260
48    145.420463
49    123.354278
dtype: float64


Minimum, Maximum and Standard Deviation by column

0     7
1    10
2     8
3     1
4     2
5    14
6    12
7    14
8     9
9    14
dtype: int32
0    499
1    494
2    491
3    488
4    478
5    492
6    496
7    477
8    478
9    478
dtype: int32
0    158.855376
1    146.360401
2    147.155112
3    155.757374
4    133.912637
5    141.999189
6    141.464498
7    137.823349
8    145.628569
9    140.929261
dtype: float64


Minimum, Maximum and Standard Deviation for the array

1
499
26.393770286225852

In [12]:
# Sort the DataFrame: by rows, by columns, on row 2, on column 2
print("Sort on row 2:")
print(df_random.sort_values(by=2, axis=1))
print("Sort on column 2:")
print(df_random.sort_values(by=2, axis=0))

Sort on row 2:
    28   9    32   31   48   37   0    13   5    34  ...   22   17   29   1   \
0  446   58  327  346  403  367  234   60    7   52  ...  499  395  169  244
1  209  233   62  166  457   71  136  275  460  130  ...   10  115  494  489
2    8   18   26   29   40   54   55   56   74   79  ...  394  409  420  443
3  377  153   42  128  254    8  467  488  449  102  ...    1   92  101  380
4  255   61  144  312  225  342   53   73  434  408  ...   87  242   98   96
5  292   66  492  359   70  160  326  197  322  403  ...  458  410  432  162
6  107  136  496  396  140   37  258  105  191  215  ...  201  132  331  102
7  418   73  257  130  132  408  163  431  235  463  ...  247  363   14  342
8  450  195  160  288   55  270  411  225  293  149  ...  148  404   44  232
9  287   79  250  355  104  256  474   63   14  330  ...  478  360  106  144

    27   20   26   10   41   12
0  230  234  440  167  143   58
1  482   23  131  156  285  412
2  444  449  451  466  475  491
3  427  153  477    5  470  161
4  390  249  427  314  164  130
5   38   14   75  378  411   50
6  397  135  254  496  374  114
7  160  225  446  441  233  477
8  392    9  258  440  319  478
9  132  409  198  347  389  142

[10 rows x 50 columns]
Sort on column 2:
    0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
6  258  102   40  161  116  191  426   50   21  136  ...  276  374  168  241
9  474  144   48  187   58   14   19  194  229   79  ...  421  389  246   41
0  234  244   56  476  437    7  389  469  493   58  ...  137  143  495  481
2   55  443  135  327  328   74  363  128  136   18  ...  264  475  125  272
5  326  162  171  248  297  322  184  383  392   66  ...  478  411  451  259
8  411  232  185  102  477  293   88   23   72  195  ...  315  319  169  219
3  467  380  221   60   94  449   19  286  181  153  ...  393  470    1  260
1  136  489  257  107  148  460  289   11  172  233  ...   45  285  165  195
4   53   96  290   75  116  434  445   89  278   61  ...    2  164  290   89
7  163  342  307  377  474  235  308  168  417   73  ...  433  233  252  111

    44   45   46   47   48   49
6   12  338  348  125  140  454
9  144  413  471  211  104  119
0  313  126  404  333  403  241
2  245  360  223  108   40  282
5  391  466  488  310   70  391
8  123   22  295  308   55  175
3  190   23  228  308  254  420
1  278  324  415  327  457  176
4  166  332  478  295  225  408
7   62  157  296  456  132  409

[10 rows x 50 columns]